---
import { site } from "../data/site";
---

<footer class="site-footer">
  <div class="container footer-inner">
    <span>(c) {new Date().getFullYear()} Shiqing Gao</span>
    <span>{site.footer}</span>
  </div>
</footer>
